{% extends 'base.html' %}
{% block content %}

<h5 class="ml-auto mr-auto mt-5 text-center">Your progress:</h5>

<div class="progress ml-auto mr-auto mb-5" style="width: 33%;">
  <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="m-auto text-center col-md-9">
  <h1>{{ tutorial.title }}</h1>
  <small>{{ tutorial.difficulty }}</small>

  <p>{{ tutorial.body }}</p>
</div>

{% if current_user.is_authenticated %}

  <div class="m-auto text-center col-md-4">
    <small>Have edits in mind?</small>

    <a href="/tutorials/edit/{{ tutorial.id }}">Edit Tutorial</a>
  </div>

{% endif %}

{% endblock %}
